body{
font-family:Arial;
margin:0;
background:#f0f0f0;
}

header{
background:#0077b6;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#023e8a;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

section{
background:white;
margin:20px;
padding:20px;
border-radius:10px;
}

input{
display:block;
margin:10px 0;
padding:10px;
width:250px;
}

button{
background:#0077b6;
color:white;
padding:10px;
border:none;
cursor:pointer;
}

#dashboard{
display:none;
}
